@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --white-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayyish-blue: hsl(220, 15%, 55%);
    --Drak-blue: hsl(218, 44%, 22%);
}



html, body {
    font-size: (paragraph)15px;
    margin: 0;
    background: var(--light-gray);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

img {
    width: 260px;
    height: 200px;
}

.image {
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin-top: 10px;
}

.container .box-extern {
    background: var(--white-color);
    border-radius: 15px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--Grayyish-blue);
    box-shadow: 0px 2px 10px;
}

.container .box-text {
    width: 240px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.container .box-text h3 {
    font-size: 20px;
    color: var(--Drak-blue);
}

.container .box-text p {
    color: var(--Drak-blue);
    font-size: 15px;
    font-weight: 400;
}


.footer {
    margin: 30px;
}

.footer a {
    margin: 20px;
    text-decoration: none;
}